<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error page</title>
  </head>
  <body>
    <h1>Some error occurred.</h1>
    <p>if there are some concerns, pls contact us...</p>

    <button><a href="/students">Back</a></button>
  </body>
</html>
