<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculties' page</title>
  </head>
  <body>
    <h1>Faculties' page</h1>
    <ul>
      <!-- 在首頁的每個學生姓名建立routing, 按下可以連接到學生個人頁面-->
      <% facultyData.forEach((faculty)=>{ %>
      <li><a href="/faculties/<%= faculty._id %>"><%= faculty.name%></a></li>
      <% }) %>
    </ul>
    <button><a href="/faculties/new">Add New faculty</a></button>
    <button><a href="/">XXX School!!</a></button>
    <!-- <script src="./app.js></script> -->
  </body>
</html>
